.create-message
  width 100%
  height 100%

  &__form
    width 100%
    height 100%
    display: flex
    flex-direction column
    justify-content: center
    align-items center

    select
      text-align center

  &__row
    margin-bottom 40px

  &__textarea
    width 434px
    text-align center
