@import '../../../styles.styl'

.header
  position fixed
  width 100%
  height 64.72px
  display flex
  justify-content center

  h1
    font-size 3em
    color $blue
    text-align center
    font-weight 600
