html
body
  padding 0
  margin 0

main
  width 100vw
  height 100vh
  overflow hidden

.mat-dialog-container
  border-radius 8px !important

.button
.link
  padding 5px 50px !important
  border-radius 25px !important
  box-shadow 3px 4px 6px 1px rgba(0, 0, 0, 0.3) !important